* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;

  --sidebar-color: #fff; // sidebar字体颜色
  --sidebar-width: 220px; // sidebar宽度
  --sidebar-collapse-width: 60px; // sidebar折叠宽度
  --sidebar-line-height: 50px; // 菜单每行的高度

  --sidebar-background-image: url("/img/logo-white.png");
  --sidebar-background-sm-image: url("/img/logo.png");

  --sidebar-background-color: #1c1f2c; // 菜单背景颜色
  --sidebar-hover-color: #111; // 一级菜单 :hover 颜色
  --sidebar-submenu-hover-color: #2e4bf3; // 子菜单 :hover 的颜色

  @import "sidebar";

  &.light {
    --sidebar-color: rgba(0,0,0,.7);
    --sidebar-background-color: #fff;
    --sidebar-hover-color: #ecebea;
    --sidebar-background-image: url("/img/logo-black.png");
    --sidebar-submenu-hover-color: #ddd;
    
    .sidebar {
      border-right: 1px solid #ccc;
    }
  }

  .main {
    width: 100%;
    height: 100%;
    background: #eee;

    @import "header";
    @import "content";
    @import "footer";
  }
}
