* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;

  --sidebar-width: 220px;
  --sidebar-collapse-width: 60px;
  --sidebar-hover-color: #2e4bf3;
  --sidebar-line-height: 50px;

  @import 'sidebar';

  .main {
    width: 100%;
    height: 100%;
    background: #eee;

    @import 'header';
    @import 'content';
    @import 'footer';
  }
}
