<div class="header">
    {{ partial "icon" (dict "content" . "name" "menu") }}
    {{ partial "icon" (dict "content" . "name" "sun" "id" "toggle") }}
</div>


<script type="module">
    import { deActive } from '/js/sidebar.min.js'

    $('.header .bx-menu').click(() => {
        deActive()
        $('.sidebar').toggleClass('collapse')
        localStorage.setItem('collapse', localStorage.getItem('collapse') !== 'true')
    })

    if (localStorage.getItem('collapse') === 'true') {
        $('.sidebar').addClass('collapse')
    }

    $('#toggle').click(() => {
        if ($('#toggle').hasClass('bx-moon')) {
            $('#toggle').addClass('bx-sun')
            $('#toggle').removeClass('bx-moon')
            $('#app').removeClass('light')
        } else {
            $('#toggle').addClass('bx-moon')
            $('#toggle').removeClass('bx-sun')
            $('#app').addClass('light')
        }
        localStorage.setItem('light', localStorage.getItem('light') !== 'true')
    })

    if (localStorage.getItem('light') === 'true') {
        $('#toggle').addClass('bx-moon')
        $('#toggle').removeClass('bx-sun')
        $('#app').addClass('light')
    }
</script>